- provide(:title, "Test")

-#%h1= t('.contacts_title')
%h1= 'Select Task'

.about-copy

  .select_theme
    -#= render 'main/button_test_select'
    -#, locale: @current_locale

  %h3.list
    Task 1:
    = link_to ' Базовые умения верстки и обмена данными.', task_one_path,  remote: true
    -#,  :format => "js"
    %br
    .test_task
      Eсть прогноз погоды по ссылке в формате JSON: https://developer.yahoo.com/weather/
      %br
      1) Отрисовать столбиковую диаграмму на неделю;
      %br
      2) К каждому столбику добавить изображение состояния погоды - облачность, дождь и т.д.
    %br

    .test_start_btn
    -#  = render 'main/test_start_btn'
      -#, locale: @current_locale


    -#.select_theme
    -#= render 'work/button_theme_select', locale: @current_locale

    %br

    Task 2:
    = link_to ' Динамическое сохранение поискового запроса', search_form_jand_path
    %br
    .test_task
      1) Прогрузить страницу яндекса и изменить все текстовое содержание ниже поисковой строки
      %br
      (перевести на английский (верхняя часть на русском, нижняя на английском);
      %br
      (Страница не должна быть идентична - только визуально похожа)
      %br
      2) Сохранить запрос при вводе в форму поиска с копии сайта.
    %br
    %br

    Task 2a:
    = link_to ' Динамическое отображение результатов поиска', search_form_jand_path
    %br
    .test_task
      1) Прогрузить измененную страницу яндекса
      %br
      2) После ввода запроса поиска перехватить результаты и отобразить в рандомном порядке результат поиска
    %br
    %br

  -#Task 3:
    -#= link_to ' Динамическая замена страницы', about_path
    -#%br
    .test_task
    -#Сделайте полную визуальную копию главной страницы сайта http://www.bankofamerica.com без никакого обращения на сайт банка - даже за js либами
    %br
    -#1) Поменять местами следующие данные: "Access your accounts","Pay bills","Set up alerts", Maketransfers" в случайном порядке вместе с картинками;
    %br
    -#2) Сохранить учетные данные при вводе в форму авторизации с копии сайта.
    -#%br
    -#%br


  %i.fa.fa-flag.iconsMain{ style: "color: #C44BB4; font-size: 4em; position: relative; left: 50%;" }


